{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari > 8", "not ie < 11"]
      },
      "loose": true,
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "syntax-async-functions",
    "transform-regenerator",
    ["import", {"libraryName": "antd"}]
  ]
}